<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :date, placeholder: "Dagsetning", class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.text_field :distance, placeholder: "Vegalengd í KM" %>
  </div>
  <div class="field">
    <%= f.text_field :duration, placeholder: "KK:MM:SS" %>
  </div>  
  <div class="field">
    <%= f.text_area :content, placeholder: "Create new entry...", rows: '10' %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>